
<style>
  .main_left{
    width:30%;
    color:#333;
    display:inline-block;
  }
  .concern_all{
    padding:10px 13px;
    border-bottom:1px solid #eeeeee;
    color:#333;
    font-size:14px;
  }
  .concern_all span{
    cursor:pointer;
  }

  .concern_all img{
    width:18px;
    height:18px;
    vertical-align:bottom;
    margin-top:3px;
    margin-left:5px;
  }
  .add_concern{
    padding:10px 13px;
    /*background-color:#f0f0f0;*/
  }
  .add_concern img {
    width:40px;
    height:40px;
    vertical-align:middle;
  }
  .add_concern span{
    cursor:pointer;
    word-wrap: break-word;
    overflow: hidden;
    vertical-align:middle;
    display: inline-block;
  }
  #concern_category{
    list-style: none;
    margin:0;
    padding:0;
  }
  #concern_category li{
    padding:10px 13px;
    cursor:pointer;
    /*background-color:#f0f0f0;*/

  }
  .add_concern_img{
    font-size:13px;
    color: #333333;
    font-weight:200;
    float:right;
  }

  #concern_category li:hover {
    background-color:#f0f0f0 ;
  }

  #concern_category li img{
    width:40px;
    height:40px;
    border:1px solid #ccc;
    border-radius:4px;
    vertical-align:middle;
    margin-right:5px;

  }
  #concern_category li span{
    word-wrap: break-word;
    overflow: hidden;
    vertical-align:middle;
    display: inline-block;
    font-weight:300;
  }

  .main_right{
    border-left:1px solid #dddddd;
    display:inline-block;
    width:65%;
    padding-left:5%;
    right:0;
    float:right;
    position: absolute;
    height:auto;
    /*border:1px solid #ffff00;*/
  }
  .concern_menu{
    list-style: none;
    padding:0;
    border-bottom:1px solid #ddd;
    overflow: hidden;
  }
  .concern_menu li {
    cursor:pointer;
    display:inline-block;
    /*border:1px solid #8c8c8c;*/
    padding:13px 20px;
    font-size:15px;
    /*color:#969696;*/
    color:#646464;
    float:left;
    margin-right:1px;
  }
  .concern_menu li:first-child{
    border-bottom:2px solid #555555;
  }
  .concern_menu li:hover{
    border-bottom:2px solid #555555;
  }
  .concern_menu li img{
    width:18px;
    height:18px;
    vertical-align: bottom;
  }
</style>
<div class="main">
    <div class="main_left">

      <div class="concern_all">
        <span>
          全部关注<span><img src="../../assets/images/1001.png" alt=""></span>
        </span>
        <span>
          <span class="add_concern_img"><img src="../../assets/images/1007.png" alt="">添加关注</span>
        </span>
      </div>

      <div class="add_concern">
        <img src="../../assets/images/1005.png"/>
        <span>
          添加关注
        </span>
      </div>
      <ul id="concern_category">
        <li>
          <img src="../../assets/images/1006.jpg"/>
          <span>
          青春
        </span>
        </li>
        <li>
              <img src="../../assets/images/1006.jpg"/>
              <span>
              青春
              </span>
        </li>
        <li>
              <img src="../../assets/images/1006.jpg"/>
              <span>
              青春
              </span>
        </li>
        <li>
              <img src="../../assets/images/1006.jpg"/>
              <span>
              青春
              </span>
        </li>
      </ul>

    </div>
    <div class="main_right">
      <ul class="concern_menu">
        <li>
          <b>全部推荐</b>
        </li>
        <li>
          <img src="../../assets/images/1003.png" alt="">
          <b>推荐作者</b>
        </li>
        <li>
          <img src="../../assets/images/1002.png" alt="">
          <b>推荐专题</b>
        </li>
      </ul>

      <div class="author">
        <a>
          <span><img src="../../assets/images/category-1.png" alt=""></span>
          <span class="author_name">达芬奇</span>
          <small>09.09&nbsp;13:27</small>
        </a>
        <div class="author_title">
          <a href="" >那个荷兰男人的眼里有火</a>
        </div>
        <p class="author_content">
          这是简书第一个征集「情书」的专题。 每一个爱好文字的人，都应该有过为另一个
          Ta提笔写情书的冲动。或许你的爱情是单车上穿着白衬衫和连衣裙的你我，或许你
          的爱情是流光溢彩的霓虹灯和...
        </p>
        <div class="meta">
          <a href="" class="meta_theme">
            生活经验
          </a>
          <a href="">
            <img  src="../../assets/images/eye.png" alt="">
            424
          </a>
          <a href="">
            <img src="../../assets/images/response.png" alt="">
            43432
          </a>
          <a>
            <img class="meta_ico" src="../../assets/images/heart.png" alt="">
            1233
          </a>
        </div>
      </div>

      <div class="author">
        <a>
          <span><img src="../../assets/images/category-1.png" alt=""></span>
          <span class="author_name">达芬奇</span>
          <small>09.09&nbsp;13:27</small>
        </a>
        <div class="author_title">
          <a href="" >那个荷兰男人的眼里有火</a>
        </div>
        <p class="author_content">
          这是简书第一个征集「情书」的专题。 每一个爱好文字的人，都应该有过为另一个
          Ta提笔写情书的冲动。或许你的爱情是单车上穿着白衬衫和连衣裙的你我，或许你
          的爱情是流光溢彩的霓虹灯和...
        </p>
        <div class="meta">
          <a href="" class="meta_theme">
            生活经验
          </a>
          <a href="">
            <img  src="../../assets/images/eye.png" alt="">
            424
          </a>
          <a href="">
            <img src="../../assets/images/response.png" alt="">
            43432
          </a>
          <a>
            <img class="meta_ico" src="../../assets/images/heart.png" alt="">
            1233
          </a>
        </div>
      </div>

      <div class="author">
        <a>
          <span><img src="../../assets/images/category-1.png" alt=""></span>
          <span class="author_name">达芬奇</span>
          <small>09.09&nbsp;13:27</small>
        </a>
        <div class="author_title">
          <a href="" >那个荷兰男人的眼里有火</a>
        </div>
        <p class="author_content">
          这是简书第一个征集「情书」的专题。 每一个爱好文字的人，都应该有过为另一个
          Ta提笔写情书的冲动。或许你的爱情是单车上穿着白衬衫和连衣裙的你我，或许你
          的爱情是流光溢彩的霓虹灯和...
        </p>
        <div class="meta">
          <a href="" class="meta_theme">
            生活经验
          </a>
          <a href="">
            <img  src="../../assets/images/eye.png" alt="">
            424
          </a>
          <a href="">
            <img src="../../assets/images/response.png" alt="">
            43432
          </a>
          <a>
            <img class="meta_ico" src="../../assets/images/heart.png" alt="">
            1233
          </a>
        </div>
      </div>

      <div class="author">
        <a>
          <span><img src="../../assets/images/category-1.png" alt=""></span>
          <span class="author_name">达芬奇</span>
          <small>09.09&nbsp;13:27</small>
        </a>
        <div class="author_title">
          <a href="" >那个荷兰男人的眼里有火</a>
        </div>
        <p class="author_content">
          这是简书第一个征集「情书」的专题。 每一个爱好文字的人，都应该有过为另一个
          Ta提笔写情书的冲动。或许你的爱情是单车上穿着白衬衫和连衣裙的你我，或许你
          的爱情是流光溢彩的霓虹灯和...
        </p>
        <div class="meta">
          <a href="" class="meta_theme">
            生活经验
          </a>
          <a href="">
            <img  src="../../assets/images/eye.png" alt="">
            424
          </a>
          <a href="">
            <img src="../../assets/images/response.png" alt="">
            43432
          </a>
          <a>
            <img class="meta_ico" src="../../assets/images/heart.png" alt="">
            1233
          </a>
        </div>
      </div>

      <div class="author">
        <a>
          <span><img src="../../assets/images/category-1.png" alt=""></span>
          <span class="author_name">达芬奇</span>
          <small>09.09&nbsp;13:27</small>
        </a>
        <div class="author_title">
          <a href="" >那个荷兰男人的眼里有火</a>
        </div>
        <p class="author_content">
          这是简书第一个征集「情书」的专题。 每一个爱好文字的人，都应该有过为另一个
          Ta提笔写情书的冲动。或许你的爱情是单车上穿着白衬衫和连衣裙的你我，或许你
          的爱情是流光溢彩的霓虹灯和...
        </p>
        <div class="meta">
          <a href="" class="meta_theme">
            生活经验
          </a>
          <a href="">
            <img  src="../../assets/images/eye.png" alt="">
            424
          </a>
          <a href="">
            <img src="../../assets/images/response.png" alt="">
            43432
          </a>
          <a>
            <img class="meta_ico" src="../../assets/images/heart.png" alt="">
            1233
          </a>
        </div>
      </div>


    </div>
</div>
