
<div class="nav navbar-fixed-top top_header" style="background-color:#ffffff;border:1px solid #dddddd">
  <div class="container-fluid" style="width:94%">

    <div class="top_container_left">
      <a [routerLink]="['']" class="log">
        <img src="../../assets/images/logo.png">
      </a>
    </div>
    <div class="top_container_center">
      <a [routerLink]="['']" class="top_index">
        <img src="../assets/images/nav.png" alt="" width="23px" height="23px">
        <span>首页</span>
      </a>
      <div class="top_search">
        <input class="top_search_text" type="text" placeholder="搜索">
        <span><img src="../assets/images/search.png" alt="" ></span>
      </div>
      <a [routerLink]="['/login']" class="top_login">登录</a>
      <span class="top_letter"><img src="../assets/images/Aa.png" alt=""></span>
    </div>

    <div class="top_container_right">
      <a [routerLink]="['/register']" class="top_register">注册</a>
      <span class="top_write">
        <img src="../assets/images/write.png" alt="">
        <span>写文章</span>
      </span>
    </div>

    <!--</div>-->

  </div>

</div>



<div class="container">
  <img class="img1"  src="../../assets/images/1013.png"
       height="100px" width="64%" alt="">
  <p class="p1">如何创建并玩转专题</p>
</div>
<div id="div1" class="a">
  <ul>
    <li class="active">推荐</li>
    <li>热门</li>
    <li>城市</li>
  </ul>
  <div class="class" style="display:block;">

    <div class="tupian1" style="display: block">
      <img  src="../../assets/images/1015.jpg" height="70" width="70" />
      <div class="shang">

      </div>
      <h4>简书交友</h4>
      <p class="p2">据说在简书认真写作的人都可以在这里找到TA的灵魂伴侣。玩转...</p>

      <br>
      <input type="button" value="+关注">
      <br>
      <hr color="#eaeaea">
      <p class="p2">719篇文章.121.3K关注</p>
    </div>
    <div class="tupian1" style="display: block">
      <img  src="../../assets/images/1015.jpg" height="70" width="70" />
      <div class="shang">

      </div>
      <h4>简书交友</h4>
      <p class="p2">据说在简书认真写作的人都可以在这里找到TA的灵魂伴侣。玩转...</p>

      <br>
      <input type="button" value="+关注">
      <br>
      <hr color="#eaeaea">
      <p class="p2">719篇文章.121.3K关注</p>
    </div>
    <div class="tupian1" style="display: block">
      <img  src="../../assets/images/1015.jpg" height="70" width="70" />
      <div class="shang">

      </div>
      <h4>简书交友</h4>
      <p class="p2">据说在简书认真写作的人都可以在这里找到TA的灵魂伴侣。玩转...</p>
      <br>
      <input type="button" value="+关注">

      <br>
      <hr color="#eaeaea">
      <p class="p2">719篇文章.121.3K关注</p>
    </div>
    <div class="tupian1" style="display: block">
      <img src="../../assets/images/1015.jpg" height="70" width="70" />
      <div class="shang">

      </div>
      <h4>简书交友</h4>
      <p class="p2">据说在简书认真写作的人都可以在这里找到TA的灵魂伴侣。玩转...</p>

      <br>
      <input type="button" value="+关注">
      <br>
      <hr color="#eaeaea">
      <p class="p2">719篇文章.121.3K关注</p>
    </div>
  </div>

  <div class="class">
    <div class="tupian1" style="display: block">
      <img src="../images/2005503_162125081_2.jpg" height="70" width="70"/>
      <div class="shang">

      </div>
      <h4>首页投稿</h4>
      <p class="p2">玩转想上简书的第一步，从这里专题开始。想上首页热门榜么？好...</p>
      <br>
      <input type="button" value="+关注">

      <br>
      <hr color="#eaeaea">
      <p class="p2">24351篇文章.176.2K关注</p>
    </div>
  </div>
  <div class="class">
    <div class="tupian1" style="display: block">
      <img src="../images/6163a73eef7ec1c23239e73f0330e6064ede63df6fc91-kNLZaJ_fw658.jpeg" height="70" width="70"/>
      <div class="shang">

      </div>
      <h4>简书交友</h4>
      <p class="p2">用信仰扣除的天堂之路，是你未曾遇见的远方......投稿须知：http:...</p>
      <br>
      <input type="button" value="+关注">

      <br>
      <hr color="#eaeaea">
      <p class="p2">1252篇文章.875关注</p>
    </div>
  </div>
</div>
