
<div class="container" style="margin-top:88px;">
  <img class="img1"  src="../../assets/images/4001.png"
       height="100" width="64%" alt="">
  <p class="p1" style="margin-top:20px;">如何创建并玩转专题</p>
</div>
<div id="div1" class="a" style="margin-top:38px;">
  <ul style="border-bottom:1px solid #ddd;font-size:17px; font-weight:600;">
    <li class="active">推荐</li>
    <li>热门</li>
 <!--   <li>城市</li>-->
  </ul>
  <div class="class" style="display:block;">

    <div class="tupian1" style="display: block" *ngFor="let x of allThemeContent">
      <img src="../../assets/upfile/{{x.head}}" height="80" width="80"/>
      <div class="shang">
      </div>
      <h2>{{x.categoryname}}</h2>
      <p class="p2">{{x.introduce}}</p>
      <input type="button" value="+关注">
      <br/>
      <hr color="#eaeaea">
      <p style="font-size: 14px">719篇文章.121.3K关注</p>
    </div>

<!--    <div class="tupian1" style="display: block">
      <img src="../images/02.jpg" height="80" width="80"/>
      <div class="shang">
      </div>
      <h2>简书交友</h2>
      <p class="p2">据说在简书认真写作的人都可以在这里找到TA的灵魂伴侣。玩转简书...</p>
      <input type="button" value="+关注">
      <br/>
      <hr color="#eaeaea">
      <p style="font-size: 14px">719篇文章.121.3K关注</p>
    </div>-->



  </div>
  <div class="class">
    <div class="tupian1" style="display: block">
      <img src="../images/05.jpg" height="80" width="80"/>
      <div class="shang">
      </div>
      <h2>简书交友</h2>
      <p class="p2">据说在简书认真写作的人都可以在这里找到TA的灵魂伴侣。玩转简书...</p>
      <input type="button" value="+关注">
      <br/>
      <br/>
      <hr color="#eaeaea">
      <p style="font-size: 14px">719篇文章.121.3K关注</p>
    </div>
  </div>
<!--  <div class="class">
    <div class="tupian1" style="display: block">
      <img src="../images/01.jpg" height="80" width="80"/>
      <div class="shang">
      </div>
      <h2>简书交友</h2>
      <p class="p2">据说在简书认真写作的人都可以在这里找到TA的灵魂伴侣。玩转简书...</p>
      <input type="button" value="+关注">
      <br/>
      <br/>
      <hr color="#eaeaea">
      <p style="font-size: 14px">719篇文章.121.3K关注</p>

    </div>
  </div>-->
</div>
