<!--导航条部分-->
<!--<div class="top_nav">-->
<!--<div class="nav navbar-fixed-top top_header" style="background-color:#ffffff;border:1px solid #dddddd">
  <div class="container-fluid" style="width:94%">
    <div class="top_container_left">
      <a [routerLink]="['']" class="log">
        <img src="../../assets/images/logo.png">
      </a>
    </div>
    <div class="top_container_center">
      <a [routerLink]="['']" class="top_index">
        <img src="../assets/images/nav.png" alt="" width="23px" height="23px">
        <span>首页</span>
      </a>
      <div class="top_search">
        <input class="top_search_text" type="text" placeholder="搜索">
        <span><img src="../assets/images/search.png" alt="" ></span>
      </div>
      <a [routerLink]="['/login']" class="top_login">登录</a>
      <span class="top_letter"><img src="../assets/images/Aa.png" alt=""></span>
    </div>

    <div class="top_container_right">
      <a [routerLink]="['/register']" class="top_register">注册</a>
      <span class="top_write">
        <img src="../assets/images/write.png" alt="">
        <span>写文章</span>
      </span>
    </div>
  </div>
</div>-->

<!--<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" style="min-width:768px;overflow: hidden">
    <div class="row">
      <div class="col-md-2 col-xs-3">
        <a [routerLink]="['']" class="log">
          <img src="../../assets/images/logo.png">
        </a>
      </div>
      <div class="col-md-3  col-xs-3" >
        <a [routerLink]="['']" class="top_index" *ngIf="hiddenNavs">
          <img src="../assets/images/nav.png" alt="" width="23px" height="23px">
          <span>首页</span>
        </a>
        <a class="top_index"  *ngIf="!hiddenNavs" [routerLink]="['']">
          <img src="../assets/images/nav.png" alt="" width="23px" height="23px">
          <span>发现</span>
        </a>
        <a class="top_index"  *ngIf="!hiddenNavs" [routerLink]="['concren']">
          <img src="../assets/images/nav.png" alt="" width="23px" height="23px">
          <span>关注</span>
        </a>
        <a class="top_index"  *ngIf="!hiddenNavs" [routerLink]="['concren']">
          <img src="../assets/images/nav.png" alt="" width="23px" height="23px">
          <span>消息</span>
        </a>
      </div>
      <div class="col-md-5 col-xs-4">
        <div class="top_search">
          <input class="top_search_text" type="text" placeholder="搜索">
          <span><img src="../assets/images/search.png" alt="" ></span>
       </div>
          <a [routerLink]="['/login']" class="top_login" *ngIf="hiddenNavs">登录</a>
          <span class="top_letter"><img src="../assets/images/Aa.png" alt=""></span>
      </div>

      <div class="col-md-2 col-xs-2">
        <div class="top_container_right">
            <a [routerLink]="['/register']" class="top_register">注册</a>
            <span class="top_write">
                 <img src="../assets/images/write.png" alt="">
                 <span>写文章</span>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>-->


<!--主体-->
<div class="main">
  <div class="main_header" id="main_header">
    <ul id="turn_left">
      <li><img src="../../assets/images/turn_1.jpg" alt=""></li>
      <li><img src="../../assets/images/turn_2.jpg" alt=""></li>
      <li><img src="../../assets/images/turn_3.jpg" alt=""></li>
      <li><img src="../../assets/images/turn_4.jpg" alt=""></li>
      <li><img src="../../assets/images/turn_5.jpg" alt=""></li>
      <li><img src="../../assets/images/turn_6.jpg" alt=""></li>
      <li><img src="../../assets/images/turn_7.png" alt=""></li>
    </ul>
    <ul id="turn_right" >
      <li><img src="../../assets/images/turn_9.jpg" alt=""></li>
      <li><img src="../../assets/images/turn_7.png" alt=""></li>
      <li><img src="../../assets/images/turn_6.jpg" alt=""></li>
      <li><img src="../../assets/images/turn_5.jpg" alt=""></li>
      <li><img src="../../assets/images/turn_4.jpg" alt=""></li>
      <li><img src="../../assets/images/turn_3.jpg" alt=""></li>
      <li><img src="../../assets/images/turn_2.jpg" alt=""></li>
      <li><img src="../../assets/images/turn_1.jpg" alt=""></li>
    </ul>
  </div>
  <div class="turn_player" id="turn_player">
    <span id="player_left" class="pull-left">&lt;</span>
    <span id="player_right" class="pull-right">&gt;</span>
  </div>

  <style>

  </style>

  <div class="main_body">
    <!---内容左边部分-->
    <div class="main_left">
      <div class="body_left">
<!--        <a [routerLink]="['category']">
          <img src="../../assets/images/category-1.png" alt="">
          <span>微小说</span>
        </a>-->
        <!--还有主题的id没填写-->
        <a *ngFor="let x of categoryContent" [routerLink]="['category']">
          <img src="../../assets/upfile/{{x.head}}" alt="">
          <span>{{x.categoryname}}</span>
        </a>
        <span class="more_theme">
          <a [routerLink]="['theme']">更多热门专题专题</a>
        </span>
      </div>
      <div class="split-line"></div>
      <!---作者及其书籍介绍-->
      <div class="introduce">
        <!--需要渲染的部分-->
        <div class="author">
          <a>
            <span><img src="../../assets/images/category-1.png" alt=""></span>
            <span class="author_name">达芬奇</span>
            <small>09.09&nbsp;13:27</small>
          </a>
          <div class="author_title">
            <a href="" >那个荷兰男人的眼里有火</a>
          </div>
          <p class="author_content">
            这是简书第一个征集「情书」的专题。 每一个爱好文字的人，都应该有过为另一个
            Ta提笔写情书的冲动。或许你的爱情是单车上穿着白衬衫和连衣裙的你我，或许你
            的爱情是流光溢彩的霓虹灯和...
          </p>
          <div class="meta">
            <a href="" class="meta_theme">
                生活经验
            </a>
            <a href="">
              <img  src="../../assets/images/eye.png" alt="">
                424
            </a>
            <a href="">
              <img src="../../assets/images/response.png" alt="">
              43432
            </a>
            <a>
              <img class="meta_ico" src="../../assets/images/heart.png" alt="">
                1233
            </a>
          </div>
        </div>

        <div class="author">
          <a>
            <span><img src="../../assets/images/category-1.png" alt=""></span>
            <span class="author_name">达芬奇</span>
            <small>09.09&nbsp;13:27</small>
          </a>
          <div class="author_title">
            <a [routerLink]="['artical']" >那个荷兰男人的眼里有火</a>
          </div>
          <p class="author_content">
            这是简书第一个征集「情书」的专题。 每一个爱好文字的人，都应该有过为另一个
            Ta提笔写情书的冲动。或许你的爱情是单车上穿着白衬衫和连衣裙的你我，或许你
            的爱情是流光溢彩的霓虹灯和...
          </p>
          <div class="meta">
            <a href="" class="meta_theme">
              生活经验
            </a>
            <a href="">
              <img  src="../../assets/images/eye.png" alt="">
              424
            </a>
            <a href="">
              <img src="../../assets/images/response.png" alt="">
              43432
            </a>
            <a>
              <img class="meta_ico" src="../../assets/images/heart.png" alt="">
              1233
            </a>
          </div>
        </div>

        <div class="author">
          <a>
            <span><img src="../../assets/images/category-1.png" alt=""></span>
            <span class="author_name">达芬奇</span>
            <small>09.09&nbsp;13:27</small>
          </a>
          <div class="author_title">
            <a [routerLink]="['artical']" >那个荷兰男人的眼里有火</a>
          </div>
          <p class="author_content">
            这是简书第一个征集「情书」的专题。 每一个爱好文字的人，都应该有过为另一个
            Ta提笔写情书的冲动。或许你的爱情是单车上穿着白衬衫和连衣裙的你我，或许你
            的爱情是流光溢彩的霓虹灯和...
          </p>
          <div class="meta">
            <a href="" class="meta_theme">
              生活经验
            </a>
            <a href="">
              <img  src="../../assets/images/eye.png" alt="">
              424
            </a>
            <a href="">
              <img src="../../assets/images/response.png" alt="">
              43432
            </a>
            <a>
              <img class="meta_ico" src="../../assets/images/heart.png" alt="">
              1233
            </a>
          </div>
        </div>

      </div>

      <style>

      </style>

      <div class="load_more">
        阅读更多
      </div>
      <div class="footer">
        <p><span>关于简书</span> ·<span> 联系我们</span> · <span>加入我们</span> ·
          <span>简书出版</span> ·<span> 品牌与徽标 </span>·<span> 帮助中心</span> · <span>合作伙伴</span></p>
        ©2012-2017 上海佰集信息科技有限公司 / Tel:021-61995350 / 简书 / 沪ICP备11018329号-5 / 沪公网安备31010402002252号
      </div>
    </div>
    <!---内容右边部分-->

    <div class="main_right">
      <div class="recommend">
        <a [routerLink]="['news']"><img src="../../assets/images/new_up.png" alt=""></a>
        <a [routerLink]="['seven']"><img src="../../assets/images/sevenhot.png" alt=""></a>
        <a [routerLink]="['thirty']"><img src="../../assets/images/thirtyhot.png" alt=""></a>
        <img src="../../assets/images/publish.png" alt="">
      </div>
      <div class="recommend_author">
        <p class="recommend_menu">
          推荐作者
          <span>
             <img src="../../assets/images/reload.png" alt="" >
            换一批
          </span>
        </p>
        <ul class="recommend_content">
          <li>
            <span class="recommend_img">
              <img src="../../assets/images/recommend.jpg" alt="">
            </span>
            <div class="recommend_notice">
              <p>
                考拉熊
                <span><img src="../../assets/images/puls.png" alt="">关注</span>
              </p>
              <small>写了20.3千字</small>
            </div>
          </li>
          <li>
            <span class="recommend_img">
              <img src="../../assets/images/recommend.jpg" alt="">
            </span>
            <div class="recommend_notice">
              <p>
                考拉熊
                <span><img src="../../assets/images/puls.png" alt="">关注</span>
              </p>
              <small>写了20.3千字</small>
            </div>
          </li>
          <li>
            <span class="recommend_img">
              <img src="../../assets/images/recommend.jpg" alt="">
            </span>
            <div class="recommend_notice">
              <p>
                考拉熊
                <span><img src="../../assets/images/puls.png" alt="">关注</span>
              </p>
              <small>写了20.3千字</small>
            </div>
          </li>
          <li>
            <span class="recommend_img">
              <img src="../../assets/images/recommend.jpg" alt="">
            </span>
            <div class="recommend_notice">
              <p>
                考拉熊
                <span><img src="../../assets/images/puls.png" alt="">关注</span>
              </p>
              <small>写了20.3千字</small>
            </div>
          </li>
        </ul>
        <button type="button" class="recommend_all">查看全部&nbsp;></button>
      </div>
    </div>
    <style>

    </style>
  </div>
</div>
