<!--<div class="nav navbar-fixed-top top_header" style="background-color:#ffffff;border:1px solid #dddddd">
  <div class="container-fluid" style="width:94%">

    <div class="top_container_left">
      <a class="log">
        <img src="../../assets/images/logo.png">
      </a>
    </div>
    <div class="top_container_center">
      <a class="top_index">
        <img src="../../assets/images/nav.png" alt="" width="23px" height="23px">
        <span>首页</span>
      </a>
      <div class="top_search">
        <input class="top_search_text" type="text" placeholder="搜索">
        <span><img src="../../assets/images/search.png" alt="" ></span>
      </div>
      <a class="top_login">登录</a>
      <span class="top_letter"><img src="../../assets/images/Aa.png" alt=""></span>
    </div>

    <div class="top_container_right">
      <a  class="top_register">注册</a>
      <span class="top_write">
        <img src="../../assets/images/write.png" alt="">
        <span>写文章</span>
      </span>
    </div>

  </div>

</div>-->

<div class="container" id="container" *ngFor="let x of articalContent">
  <div class="row">
    <div>
      <div class="main">
        <div class="article">
          <h2 class="title">{{x.title}}</h2>

          <div class="author">
            <a class="avatar" href="#">
              <img src="../../assets/upfile/{{x.head}}" alt="96">
            </a>
            <div class="info">
              <span class="tag">作者</span>
              <span class="name"><a href="#">{{x.nickname}}</a></span>
              <a class="btn btn-r btn1" >
                <img src="../../assets/images/加号.png" alt="">
                <span style="padding:0 4px; text-align: center">关注</span>
              </a>
              <div class="meta">
                <span class="publish-time" title="">{{x.time}}*</span>
                <span class="wordage">字数 {{x.size}}</span>
                <span class="views-count">阅读 423</span>
                <span class="comments-count">评论 {{x.com_num}}</span>
                <span class="likes-count">喜欢 {{x.lik_num}}</span>
                <!--<span class="rewards-count ">赞赏 7</span>-->
              </div>
            </div>
          </div>

          <div class="show-content" [innerHTML]="x.content" id="show-content">
<!--            <div class="image-package">
              <img src="//upload-images.jianshu.io/upload_images/5057483-702713bcf7e58c93.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50" style="cursor: zoom-in;">
              <br>
              <div class="image-caption">图片发自简书App</div>
            </div>
            <p><br></p>-->
<!--            <blockquote><b>01，为什么有些人的人生看起来毫不费力，却像开挂了一样？</b></blockquote>
            <p>这个问题很多次在众人心头撞出波澜。特别想知道，当一个人突然疯狂迷恋上奋斗后，类似开挂，会不会突然来到另一个境界呢？”﻿<br></p>
            <p> ﻿其实答案大家都知道吧：会啊，如果开了挂，奋斗的投入感和成果的激励感形成正循环，必定会体验到自我满足和生活充实的另一个境界。</p>
            <p>大约一个月左右吧，无意中在简书上看到一篇文章《我在网上买了一只哈士奇》，这新颖而奇特的晨读感悟的写法让我关注上了这个作者林妖妖。我被她完全不一样的写作风格吸引进了她的简书文里。</p>
            <p>非常好奇她脑洞大开，天马行空自由发挥的风格，而且还阅读量很高，热情的粉丝不少，还是首页大户，最佳大户，更为神奇的是她还是猜最佳和首页的妖神，吓到我哦。忙请教她为什么?为什么呢？<br></p>
            <p>看到她天天坚持日更，写了10多万字，1千多个喜欢。</p>
            <p>不得不让我肃然起敬，不得不打起十二分精神来和她对峙，于上有了我们每天一早，都期待着对方能来给我一条诚恳又走心的地留言。</p>
            <p>时间在我们虽累却又充满希望的一天天划到了9月中旬，我们在简信上聊写作到微信上谈方法，互推作者，时而在新更的文章下猜最佳或首页，从没间断。</p><p>从她的文章中，我看到了她的随性和自由发挥，想写什么就写什么，仿佛给我写作点明了方向，我不一直以为自己写晨读感悟要跑题吗？看到妖妖写得如些精彩，如此嗨，迎来那么多人的围观，这给我更加坚定写自己擅长文章的决心。</p><p><b>拆掉思维里的墙，不要局限于框架之中，跳出去会发现不一样的天！</b></p>
            <p>从她身上，帮我打开了格局，思维更加发散。半个多月来，我坚持写自己的擅长的情感和故事类文章，反而收获了三篇首页，两篇最佳。</p>
            <div class="image-package">
              <img src="//upload-images.jianshu.io/upload_images/5057483-a8ff7b0c5ff4583b.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50" style="cursor: zoom-in;">
              <br>
              <div class="image-caption">图片发自简书App</div>
            </div>
            <br>-->

            <!--<blockquote>
              <b>02、所谓君子择友而交，良禽择木而栖。</b>
              <b>说的就是身边多结交正能量的人，才能越变越好，因为这样的人是良师益友，是榜样。﻿﻿</b>
            </blockquote>
            <p>我还很好奇，为什么她能得到那么多粉丝的围观和互动呢？<br></p>
            <p>除了有幽默风趣而吸引人的语言外，更重要的是她每天一早就醒来给一篇篇文章认真走心地点评，所以获得了好人缘同时提高了自身的写作能力。她每次说看别人的文章能否找到些灵感就是这样而来的。</p>
            <p>正如认识她后，只要给我的文章里红心一点，马上会增加我的阅读量，就是这样的贵人。</p>
            <p>在交谈中，我们一起谈写文章的看法，感受，她还会介绍她发现写得好的最佳文章给我鉴赏，一起发表看法。</p>
            <p>一天又一天，在她的介绍下，让我认识了很多写作大神，并成为一起学习的伙伴。</p>
            <p>有一天晚上，我请教她当天晨读感悟的问题，谈完后，我问她，你想好了吗？她说了句：我不懂。</p>
            <p>先哄睡孩子再想。</p>
            <p>那晚，我写到12点多，停下来想休息时，打开她的简书，我已看见她的更新：《如何拥有一个有趣的灵魂》，很多人点进去，然鹅，我们却看到了01，换段，02，换段，03，换段，没了。</p>
            <p>大伙跟我一样，笑喷了，大家热烈留言：创意满，脑洞大开，必须最佳。一一点亮红心。她在闹，我们在笑，这丫可能正在睡觉。</p>
            <p>早上起来，迷糊中打开简书，又看她已把文章补充完成。</p>
            <p>哎，有个有趣的灵魂多重要！</p>
            <p>人，是这世上惟一能接受暗示的动物。﻿<br></p>
            <p>这个暗示，大多来源身边人对自己的情绪及心理的影响。﻿﻿<br></p>
            <p>毕竟，“近朱者赤，近墨者黑”，告诉我们这一生和什么样的人在一起很重要。</p>
            <p>我每天被读书写作把业余时间安排得满满当当的。</p>
            <div class="image-package">
              <img src="//upload-images.jianshu.io/upload_images/5057483-fd79ae6cf9de25d3.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50" style="cursor: zoom-in;">
              <br>
              <div class="image-caption">图片发自简书App</div>
            </div>
            <p><br></p>
            <blockquote><b>03.人与人的差距，藏在每一天的坚持里。</b></blockquote>
            <p>有时候，我很累，很疲倦想放弃更文的时候，想到妖妖比我还要苦，比我还要累，她都能够坚持下去，我有什么理由不努力呢？</p>
            <p>有一晚，我无意中疲倦地说起，我只能天天熬夜写了，她简短回答了三个字：我也是。</p>
            <p>她那10万多的数字仿佛在嘲笑着我，让我感到无地自容，自已的那点累算什么？你看妖妖每天都在坚持着自己的写作梦想。</p>
            <p>那天晚上，我们结束谈话的时候是10点多，第二天6点我醒来时，她已把文章写完，并在给很多人留言。</p>
            <p>又一天，深夜1点她回答了我给她的留言。还听说那晚她帮班上的猫友修改文章排版至两点多钟才结束，最后那猫友真的同时拿到最佳和上首页。第二天一早和我简信交流完后说：我得滚去上班了。</p>
            <p>我不得不佩服妖妖的努力、坚持和热情。</p>
            <p>至于成绩嘛，我是时而闻到她上了首页的味道；时而又写出一篇爆文玩死人；时而说一声，我竟然那么好的文章被首页拒了，是不是太晚，主编睡着了？我们共同认为，宝宝被拒得多了，宝宝不难过。</p>
            <p>妖妖人如其名，千变万化于一身，时而搞怪逗笑之段子手；时而疯狂追星之逗比青年；时而母爱泛滥之幸福小妈咪；时而妖风阵阵让你起鸡皮疙瘩……</p>
            <p>此妖乃小猫四班7月冠军林妖妖的忧蓝晴空。聚才华、有趣、热情、聪慧于一身的妖妖女神。期待妖妖收获更精彩的9月。</p>
            <blockquote><b>04.永远不要小看一个积极向上的人，和这样的人做朋友，他教给你的，远远不止开心这么简单。</b></blockquote>
            <p>努力终将有回报﻿﻿﻿﻿，昨晚在妖妖和大雄鼓励下，我也深夜写完创业成功人士的励志故事，幸好没辜负自已的努力，上了首页及被四个专题收入，同时被三个专题主动录入精华。这是这个月来收获的第三篇首页，收获两篇最佳勋章。</p>
            <p>想想写作走到今天，一天又一天的熬夜坚持输出，确实走得非常不易，看到一大页入选通知，怎么不叫我激动呢？</p>
            <p>看到身边有一群比我更努力更艰苦的写作伙伴，满满的感动，感恩身旁有一群正能量的朋友，互相学习，相互进步，鼓励我快要放弃时继续下去的勇气和信心。</p>
            <p>感恩有你们，成长的路上不孤单。<br></p>
            <p><b>人生在世，交朋友是必不可少的，它是人生中的一部分。﻿﻿</b><br></p>
            <p><b>只是与美好的人在一起，有利益于生活品质的提升，才能进步，对未来充满期盼。</b></p>
            <p><b>毕竟踮起脚尖生活的人，更容易接近阳光。</b></p>
            <div class="image-package">
              <img src="//upload-images.jianshu.io/upload_images/5057483-fbce134a6afd1e8b.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50" style="cursor: zoom-in;">
              <br>
              <div class="image-caption">图片发自简书App</div>
            </div>
            <p>坚持写身边的小故事，坚持做自已，这种感觉真好！</p>-->

          </div>

          <div class="show-foot">
            <a class="notebook" href="#">
              <img src="../../assets/images/riji.png" alt="">
              <span>日记本</span>
            </a>
            <div class="copyright" title="转载请联系作者获得授权，并标注“简书作者”。">
              © 著作权归作者所有
            </div>
            <div class="modal-wrap">
              <a id="report-modal">举报文章</a>
            </div>
          </div>
        </div>

        <div class="article-info" *ngFor="let info of authorInfo">
          <div class="info">
            <a class="avatar" href="#">
              <img src="../../assets/upfile/{{x.head}}" alt="96">
            </a>
            <a class="btn btn-r btn1">
              <img src="../../assets/images/加号.png" alt="">
              <span>关注</span>
            </a>
            <a class="title" href="#">{{x.nickname}}</a>
            <p>写了{{info.size}} 字，被{{info.fans}}人关注，获得了 {{info.lik_num}} 个喜欢</p></div>
          <div class="signature">
            {{info.introduce | filter:60}}
          </div>
        </div>

        <div class="support-author">
          <p>我有故事，也有茶，欢迎你来我家坐，聊聊天，喝喝茶，一起品味人生！</p>
          <!--<div class="btn btn-pay">赞赏支持</div>
          <div class="supporter">
            <ul class="support-list">
              <li>
                <a href="#" class="avatar">
                  <img src="//upload.jianshu.io/users/upload_avatars/5385227/b18208e4-ebf2-4e79-87ec-3bcd42575808.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120">
                </a>
              </li>
              <li>
                <a href="#" class="avatar">
                  <img src="//upload.jianshu.io/users/upload_avatars/4984944/5d47af14-9649-4913-8cd3-6ed5a55f565d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120">
                </a>
              </li>
              <li>
                <a href="#" class="avatar">
                  <img src="//upload.jianshu.io/users/upload_avatars/5341273/90d0b2b2-1af5-49ca-b224-cd6d2dcefa8e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120">
                </a>
              </li>
              <li>
                <a href="#" class="avatar">
                  <img src="//upload.jianshu.io/users/upload_avatars/5385227/b18208e4-ebf2-4e79-87ec-3bcd42575808.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120">
                </a>
              </li>
              <li>
                <a href="#" class="avatar">
                  <img src="//upload.jianshu.io/users/upload_avatars/2690579/10c45423dc04.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120">
                </a>
              </li>
            </ul>
          </div>-->
        </div>
        <div class="meta-bottom">
          <div class="like">
            <div class="btn like-group">
              <div class="btn-like">
                <a class="btn btn-r btn1">
                  <img src="../../assets/images/xin.png" alt="">
                  <span>喜欢</span>
                  <a class="num">{{x.lik_num}}</a>
                </a>
              </div>
            </div>
          </div>
          <div class="share-group">
            <a href="" class="share-circle" title="分享到微信">
              <img src="../../assets/images/weixin1.png" alt="">
            </a>
            <a href="" class="share-circle" title="分享到微博">
              <img src="../../assets/images/weibo1.png" alt="">
            </a>
            <a href="" class="share-circle" title="下载长微博图片">
              <img src="../../assets/images/photo.png" alt="">
            </a>
            <a href="" class="share-circle more-share" title="">
              更多分享
            </a>
          </div>
        </div>
        <div>
          <div class="comment-list">
            <div>
              <form class="new-comment">
                <a class="avatar">
                  <img src="//upload.jianshu.io/users/upload_avatars/7552504/33c3d676-5a87-4885-a15c-a409e72f5eae.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/114/h/114">
                </a>
                <textarea (click)="addShow()" #CommentRef placeholder="写下你的评论..."></textarea>
              <!--<div *ngIf="write" class="write-function-block">
                  <div class="hint">Ctrl+Return 发表</div>
                  <a class="btn btn-send">发送</a>
                  <a class="cancel" (click)="funContentHidden()">取消</a>
                </div>-->

                <div [ngStyle]="writeContentHidden" class="write-function-block">
                  <div class="hint">Ctrl+Return 发表</div>
                  <a class="btn btn-send" (click)="funSendComment(CommentRef.value)">发送</a>
                  <a class="cancel" (click)="funContentHidden()">取消</a>
                </div>

              </form>
            </div>
            <div class="normal-comment-list">
              <div class="top">
                <span>32条评论</span>
                <a class="author-only">只看作者</a>
                <a class="close-btn" style="display: none;">关闭评论</a>
                <div class="pull-right">
                  <a [ngClass]="{'pull-right-show':likeComment}" (click)="commentShow('like')" class="">按喜欢排序</a>
                  <a [ngClass]="{'pull-right-show':ascComment}" (click)="commentShow('asc')" class="">按时间正序</a>
                  <a [ngClass]="{'pull-right-show':descComment}" (click)="commentShow('desc')" class="">按时间倒序</a>
                </div>
              </div>
              <div class="right-comment">
                <div *ngIf="likeComment">
                  <div class="comment">
                    <div>
                      <div class="author">
                        <a href="#" class="avatar">
                          <img src="//upload.jianshu.io/users/upload_avatars/5341273/90d0b2b2-1af5-49ca-b224-cd6d2dcefa8e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/114/h/114">
                        </a>
                        <div class="info">
                          <a href="#" class="name">林妖妖的忧蓝晴空</a>
                          <div class="meta">
                            <span>11楼 · 2017.09.21 13:46</span>
                          </div>
                        </div>
                      </div>
                      <div class="comment-wrap">
                        <p>谢谢燕子姐姐的抬爱😂
                          <br>
                          我本只是一枚平凡的小妖，却被仙女燕子姐姐喜爱，真是何德何能，三生有幸，感恩相遇😘😘😘
                        </p>
                        <div class="tool-group">
                          <a class="">
                            <img src="../../assets/images/zhichi.png" alt="">
                            <span>4人赞</span>
                          </a>
                          <a class="">
                            <img src="../../assets/images/回复%20(1).png" alt="">
                            <span (click)="addShow()">回复</span>
                          </a>
                          <a class="report">
                            <span (click)="reportShow()">举报</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="sub-comment-list">
                      <div class="sub-comment">
                        <p>
                          <a href="#">燕子高飞</a>：
                          <span>
                          <a href="#" class="maleskine-author">@林妖妖的忧蓝晴空</a> 活捉一只主人公妖妖，喜欢的就加她吧。
                        </span>
                        </p>
                        <div class="sub-tool-group">
                          <span>2017.09.21 13:47</span>
                          <a class="">
                            <img src="../../assets/images/回复.png" alt="">
                            <span (click)="addShow()">回复</span>
                          </a>
                          <a class="report"><span (click)="reportShow()">举报</span></a>
                        </div>
                      </div>
                      <div class="sub-comment">
                        <p>
                          <a href="#" target="_blank">Ameizeng</a>：
                          <span>妖妖魔法无边，你已经响彻我们1班了</span>
                        </p>
                        <div class="sub-tool-group">
                          <span>2017.09.22 21:32</span>
                          <a class="">
                            <img src="../../assets/images/回复.png" alt="">
                            <span (click)="addShow()">回复</span>
                          </a>
                          <a class="report"><span (click)="reportShow()">举报</span></a>
                        </div>
                      </div>
                      <div class="sub-comment more-comment" >
                        <a class="add-comment-btn">
                          <img src="../../assets/images/write1.png" alt="">
                          <span (click)="addShow()">添加新评论</span>
                        </a>
                      </div>
                      <div [ngStyle]="writeContentHidden">
                        <form class="new-comment">
                          <textarea placeholder="写下你的评论..."></textarea>
                          <div class="write-function-block">
                            <div class="hint">Ctrl+Return 发表</div>
                            <a class="btn btn-send">发送</a>
                            <a (click)="funContentHidden()" class="cancel">取消</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="ascComment">
                  <div class="comment">
                    <div>
                      <div class="author">
                        <a href="#" class="avatar">
                          <img src="//upload.jianshu.io/users/upload_avatars/5341273/90d0b2b2-1af5-49ca-b224-cd6d2dcefa8e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/114/h/114">
                        </a>
                        <div class="info">
                          <a href="#" class="name">林妖妖的忧蓝晴空</a>
                          <div class="meta">
                            <span>11楼 · 2017.09.21 13:46</span>
                          </div>
                        </div>
                      </div>
                      <div class="comment-wrap">
                        <p>谢谢燕子姐姐的抬爱😂
                          <br>
                          我本只是一枚平凡的小妖，却被仙女燕子姐姐喜爱，真是何德何能，三生有幸，感恩相遇😘😘😘
                        </p>
                        <div class="tool-group">
                          <a class="">
                            <img src="../../assets/images/zhichi.png" alt="">
                            <span>4人赞</span>
                          </a>
                          <a class="">
                            <img src="../../assets/images/回复%20(1).png" alt="">
                            <span (click)="addShow()">回复</span>
                          </a>
                          <a class="report">
                            <span (click)="reportShow()">举报</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="sub-comment-list">
                      <div class="sub-comment">
                        <p>
                          <a href="#">燕子高飞</a>：
                          <span>
                          <a href="#" class="maleskine-author">@林妖妖的忧蓝晴空</a> 活捉一只主人公妖妖，喜欢的就加她吧。
                        </span>
                        </p>
                        <div class="sub-tool-group">
                          <span>2017.09.21 13:47</span>
                          <a class="">
                            <img src="../../assets/images/回复.png" alt="">
                            <span (click)="addShow()">回复</span>
                          </a>
                          <a class="report"><span (click)="reportShow()">举报</span></a>
                        </div>
                      </div>
                      <div class="sub-comment">
                        <p>
                          <a href="#">Ameizeng</a>：
                          <span>妖妖魔法无边，你已经响彻我们1班了</span>
                        </p>
                        <div class="sub-tool-group">
                          <span>2017.09.22 21:32</span>
                          <a class="">
                            <img src="../../assets/images/回复.png" alt="">
                            <span (click)="addShow()">回复</span>
                          </a>
                          <a class="report"><span (click)="reportShow()">举报</span></a>
                        </div>
                      </div>
                      <div class="sub-comment more-comment">
                        <a class="add-comment-btn">
                          <img src="../../assets/images/write1.png" alt="">
                          <span (click)="addShow()">添加新评论</span>
                        </a>
                      </div>
                      <div [ngStyle]="writeContentHidden">
                        <form class="new-comment">
                          <textarea placeholder="写下你的评论..."></textarea>
                          <div class="write-function-block">
                            <div class="hint">Ctrl+Return 发表</div>
                            <a class="btn btn-send">发送</a>
                            <a (click)="funContentHidden()" class="cancel">取消</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="comment">
                    <div>
                      <div class="author">
                        <a href="#" class="avatar">
                          <img src="//upload.jianshu.io/users/upload_avatars/5341273/90d0b2b2-1af5-49ca-b224-cd6d2dcefa8e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/114/h/114">
                        </a>
                        <div class="info">
                          <a href="#" class="name">林妖妖的忧蓝晴空</a>
                          <div class="meta">
                            <span>11楼 · 2017.09.21 13:46</span>
                          </div>
                        </div>
                      </div>
                      <div class="comment-wrap">
                        <p>谢谢燕子姐姐的抬爱😂
                          <br>
                          我本只是一枚平凡的小妖，却被仙女燕子姐姐喜爱，真是何德何能，三生有幸，感恩相遇😘😘😘
                        </p>
                        <div class="tool-group">
                          <a class="">
                            <img src="../../assets/images/zhichi.png" alt="">
                            <span>4人赞</span>
                          </a>
                          <a class="">
                            <img src="../../assets/images/回复%20(1).png" alt="">
                            <span (click)="addShow()">回复</span>
                          </a>
                          <a class="report">
                            <span (click)="reportShow()">举报</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="sub-comment-list">
                      <div class="sub-comment">
                        <p>
                          <a href="#">燕子高飞</a>：
                          <span>
                          <a href="#" class="maleskine-author">@林妖妖的忧蓝晴空</a> 活捉一只主人公妖妖，喜欢的就加她吧。
                        </span>
                        </p>
                        <div class="sub-tool-group">
                          <span>2017.09.21 13:47</span>
                          <a class="">
                            <img src="../../assets/images/回复.png" alt="">
                            <span (click)="addShow()">回复</span>
                          </a>
                          <a class="report"><span (click)="reportShow()">举报</span></a>
                        </div>
                      </div>
                      <div class="sub-comment">
                        <p>
                          <a href="#">Ameizeng</a>：
                          <span>妖妖魔法无边，你已经响彻我们1班了</span>
                        </p>
                        <div class="sub-tool-group">
                          <span>2017.09.22 21:32</span>
                          <a class="">
                            <img src="../../assets/images/回复.png" alt="">
                            <span (click)="addShow()">回复</span>
                          </a>
                          <a class="report"><span (click)="reportShow()">举报</span></a>
                        </div>
                      </div>
                      <div class="sub-comment more-comment">
                        <a class="add-comment-btn">
                          <img src="../../assets/images/write1.png" alt="">
                          <span (click)="addShow()">添加新评论</span>
                        </a>
                      </div>
                      <div *ngIf="writeContentHidden">
                        <form class="new-comment">
                          <textarea placeholder="写下你的评论..."></textarea>
                          <div class="write-function-block">
                            <div class="hint">Ctrl+Return 发表</div>
                            <a class="btn btn-send">发送</a>
                            <a (click)="funContentHidden()" class="cancel">取消</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="descComment">
                  <div class="comment">
                    <div>
                      <div class="author">
                        <a href="#" class="avatar">
                          <img src="//upload.jianshu.io/users/upload_avatars/5341273/90d0b2b2-1af5-49ca-b224-cd6d2dcefa8e.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/114/h/114">
                        </a>
                        <div class="info">
                          <a href="#" class="name">林妖妖的忧蓝晴空</a>
                          <div class="meta">
                            <span>11楼 · 2017.09.21 13:46</span>
                          </div>
                        </div>
                      </div>
                      <div class="comment-wrap">
                        <p>谢谢燕子姐姐的抬爱😂
                          <br>
                          我本只是一枚平凡的小妖，却被仙女燕子姐姐喜爱，真是何德何能，三生有幸，感恩相遇😘😘😘
                        </p>
                        <div class="tool-group">
                          <a class="">
                            <img src="../../assets/images/zhichi.png" alt="">
                            <span>4人赞</span>
                          </a>
                          <a class="">
                            <img src="../../assets/images/回复%20(1).png" alt="">
                            <span (click)="addShow3()">回复</span>
                          </a>
                          <a class="report">
                            <span>举报</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="sub-comment-list">
                      <div class="sub-comment">
                        <p>
                          <a href="#">燕子高飞</a>：
                          <span>
                          <a href="#" class="maleskine-author">@林妖妖的忧蓝晴空</a> 活捉一只主人公妖妖，喜欢的就加她吧。
                        </span>
                        </p>
                        <div class="sub-tool-group">
                          <span>2017.09.21 13:47</span>
                          <a class="">
                            <img src="../../assets/images/回复.png" alt="">
                            <span (click)="addShow()">回复</span>
                          </a>
                          <a class="report"><span>举报</span></a>
                        </div>
                      </div>
                      <div class="sub-comment">
                        <p>
                          <a href="#" target="_blank">Ameizeng</a>：
                          <span>妖妖魔法无边，你已经响彻我们1班了</span>
                        </p>
                        <div class="sub-tool-group">
                          <span>2017.09.22 21:32</span>
                          <a class="">
                            <img src="../../assets/images/回复.png" alt="">
                            <span (click)="addShow()">回复</span>
                          </a>
                          <a class="report"><span>举报</span></a>
                        </div>
                      </div>
                      <div class="sub-comment more-comment">
                        <a class="add-comment-btn">
                          <img src="../../assets/images/write1.png" alt="">
                          <span (click)="addShow3()">添加新评论</span>
                        </a>
                      </div>
                      <div *ngIf="write3">
                        <form class="new-comment">
                          <textarea placeholder="写下你的评论..."></textarea>
                          <div class="write-function-block">
                            <div class="hint">Ctrl+Return 发表</div>
                            <a class="btn btn-send">发送</a>
                            <a class="cancel">取消</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="side-tool">
        <ul>
          <li title="回到顶部" id="to-top">
            <a href="#container" class="function-button">
              <img src="../../assets/images/arrow1.png" alt="">
            </a>
          </li>
          <li title="将文章加入专题" style="padding-left: 5px">
            <a class="js-submit-button">
              <img src="../../assets/images/add.png" alt="">
            </a>
          </li>
          <li title="收藏文章">
            <a class="function-button">
              <img src="../../assets/images/星星.png" alt="">
            </a>
          </li>
          <li title="分享文章">
            <a class="function-button">
              <img src="../../assets/images/share.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="note-bottom">
      <div>
        <div class="foot-main">
          <div class="title">被以下专题收入，发现更多相似内容</div>
          <div class="include-collection">
            <div class="modal-wrap add-collection-wrap">
              <a class="add-collection">
                <img src="../../assets/images/jiahao.png" alt="">收入我的专题
              </a>
            </div>
            <a href="#" class="item">
              <img src="//upload.jianshu.io/collections/images/308913/1480934858.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64">
              <div class="name">猫的剽悍江湖写作营</div>
            </a>
            <a href="#" class="item">
              <img src="//upload.jianshu.io/collections/images/9/2009031609140019346.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64">
              <div class="name">想法</div>
            </a>
            <a href="#" class="item">
              <img src="//upload.jianshu.io/collections/images/47/%E9%A6%96%E9%A1%B5%E6%8A%95%E7%A8%BF.png?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64">
              <div class="name">首页投稿</div>
            </a>
            <a href="#" class="item">
              <img src="//upload.jianshu.io/collections/images/506695/VCG41678819337.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64">
              <div class="name">成长励志</div>
            </a>
            <a href="#" class="item">
              <img src="//upload.jianshu.io/collections/images/490395/android.graphics.Bitmap_4aba779.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64">
              <div class="name">成长这条路</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--举报弹框-->
<div class="cover1"  [ngStyle]="report">
  <div class="cover1-main" style="width:35%;margin:0 auto;position: fixed;top:15%;left:35%;z-index:12;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <button (click)="cover1Show()"  type="button" class="close">×</button>
        <h4 class="cover1-title">举报评论</h4>
      </div>
      <div class="panel-body">
        <form>
          <input type="radio" name="report" value="ad">
          <span>广告及垃圾信息</span>
          <input type="radio" name="report" value="plagiarism">
          <span>抄袭或未授权转载</span>
          <input type="radio" name="report" value="other">
          <span>其它</span>
          <textarea placeholder="写下举报的详情情况（选填）" class="form-control"></textarea>
        </form>
      </div>
      <div class="panel-footer">
        <div class="action">
          <a (click)="cover1Show()">取消</a>
          <input type="submit" class="btn btn1" value="提交">
        </div>
      </div>
    </div>
  </div>
</div>

